.full{
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: inline;
}
.contain{
  background-color: black;
  width: 500px;
  height: 400px;
  overflow: scroll;
}